*{
    margin: 0;
    padding: 0;
    /*Essa box-sizing propriedade nos permite incluir
    o preenchimento e a borda na largura e altura totais 
    de um elemento.*/
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
}

header{
    flex: 1 1 200px;
    background-color: blue;
}

main{
    flex: 20 1 100vw;

}

footer{
    flex: 1 1 200px;
    background-color: blueviolet;
}

#menu{
    background-color: rgb(0, 0, 0);
    color: gold;
    width: 300px;
    height: 300px;
}