*{
    margin: 0;
    padding: 0;
    /*Essa box-sizing propriedade nos permite incluir
    o preenchimento e a borda na largura e altura totais 
    de um elemento.*/
    box-sizing: border-box;
}

body{
    display: flex;
    flex-wrap: wrap;
    font-family: monospace;
}

header{
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1 1 200px;
    background-color: rgb(52, 89, 182);
    height: 150px;
    
}

#faixa{
    height: 10px;
    width: 100vw;
    background-color: aliceblue;
}
#faixa1{
    height: 10px;
    width: 100vw;
    background-color: rgb(255, 254, 51) ;
}
#faixa2{
    height: 10px;
    width: 100vw;
    background-color: rgb(0, 207, 0) ;
}

#titulo{    
    border: solid;
    border-color: black;
    font-size: 50px;
    font-family: fantasy;
    color: rgb(255, 254, 51) ;
    text-align: center;
}



main{
    flex: 20 1 100vw;
    background-color: rgb(52, 89, 182);
    display: flex;
    justify-content: center;
    height: 400px;
}

footer{
    flex: 1 1 200px;
    background-color: rgb(52, 89, 182);
    height: 100px;
}

#menu{
    background-color: rgb(0, 0, 0);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    border-radius: 10%;
    
}

#menu ul{
    list-style: none;
}

#menu button{
    display: flex;
    margin-bottom: 10px;
    border-radius: 30%;
    padding: 20px;
    background-color: aqua;
    color: black;
    cursor: pointer;
}

#button2{
    margin-left: 20px;
}
